@font-face {
  font-family: 'Oswald';
  font-style: Light;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v35/TK3_WkUHHAIjg75cFRf3bXL8LICs169vsUZiZQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  background-color: black;
  color: rgb(210,210,210);
  font-family: Oswald;
  margin: 0;
  /*display: flex;*/

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

h1 {
  color: rgb(210,210,210);
  font-size: 45px;
  text-align: left;
  padding-left: 10px;
  padding-top: 0px;

}
h2{
  text-align: center;
  padding-left: 5%;
  /*padding-left: 5%;*/
}

#p5Canvas{
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Reenie Beanie', cursive;
  font-size: 50;
}
#perfil{
  font-weight:normal;
  font-size: 20px;
  text-align: center;
}

/* Create two equal columns that floats next to each other */
span{
  font-weight:normal;
  text-align: left;
}

table{
  /*border: 1px solid coral;*/
  margin-left: auto;
  margin-right: auto;
  width:95%;
}
th{
  /*border: 1px solid coral;*/
  width: 50%;

}

img{
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 0;
}
#piePag{
  align-content: right;
  text-align: right;
  font-weight:normal;
  font-size: 18px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.96); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 5%; /* 25% from the top */
  width: 95%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  font-size: 18px;
  padding-left: 5%;
  margin-right: auto;
  padding-bottom: 10px;
}

.overlay-content h2{
  padding-left: 0;
  font-size: 22px;
}
.overlay-content img{
  padding-top: 0px;
}


/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 100px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.overlay p{
/*  padding-left: 10px;
  text-align: left;*/
}

iframe {
border: 0px;
}

#contenido{

}

#fotoPerfil {
    cursor: pointer;
}
